<div class="div-content">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/irisnator-happy.png" alt="character" class="img-irisnator">
    </div>
    <div class="col-10">
      <span class="congratulation">hehehe.. I guessed right that your character was</span><br>
      <br>
      <div class="character-name">
        <span>{{characterName}}</span>
      </div>
    </div>  
  </div>  
  <div class="row">
    <div class="div-buttoms">
      <button (click)="ChangeStatus()">
        <span class="line1">New game</span><br>
        <span class="line2">Let's go</span>
      </button>
    </div>
  </div>
</div>
