<div class="div-content">
  <div class="row">
    <div class="col-2">
      <img src="assets/images/irisnator-happy.png" alt="character" class="img-irisnator">
    </div>
    <div class="col-10">
      <h1>IRIS-Nator</h1>
      <h2>IRISNator is a game that tries to guess a character you've thought of.</h2>
      <h2>It will ask you several questions to find out which character you're thinking of.</h2>
      <h2>Think about a real or fictional character</h2>
      <h2>Do you dare?</h2>
    </div>
  </div>
  <div class="row">
    <div class="div-buttoms">
      <button (click)="ChangeStatus()">
        <span class="line1">Challenge me</span><br>
        <span class="line2">I'will read your mind</span>
      </button>
    </div>
  </div>
</div>